Consumo_WCF/Service References/ServiceReference1/BD.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BD" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:4050/BD.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:4050/BD.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:4050/BD.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBD_ConectarBD_InputMessage">
    <wsdl:part name="parameters" element="tns:ConectarBD" />
  </wsdl:message>
  <wsdl:message name="IBD_ConectarBD_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConectarBDResponse" />
  </wsdl:message>
  <wsdl:message name="IBD_ListarDatos_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarDatos" />
  </wsdl:message>
  <wsdl:message name="IBD_ListarDatos_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarDatosResponse" />
  </wsdl:message>
  <wsdl:message name="IBD_FiltrarDatos_InputMessage">
    <wsdl:part name="parameters" element="tns:FiltrarDatos" />
  </wsdl:message>
  <wsdl:message name="IBD_FiltrarDatos_OutputMessage">
    <wsdl:part name="parameters" element="tns:FiltrarDatosResponse" />
  </wsdl:message>
  <wsdl:message name="IBD_Inserta_DatosSinIdentity_InputMessage">
    <wsdl:part name="parameters" element="tns:Inserta_DatosSinIdentity" />
  </wsdl:message>
  <wsdl:message name="IBD_Inserta_DatosSinIdentity_OutputMessage">
    <wsdl:part name="parameters" element="tns:Inserta_DatosSinIdentityResponse" />
  </wsdl:message>
  <wsdl:message name="IBD_InsertaDatosConIdentity_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertaDatosConIdentity" />
  </wsdl:message>
  <wsdl:message name="IBD_InsertaDatosConIdentity_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertaDatosConIdentityResponse" />
  </wsdl:message>
  <wsdl:message name="IBD_Modifica_Datos_InputMessage">
    <wsdl:part name="parameters" element="tns:Modifica_Datos" />
  </wsdl:message>
  <wsdl:message name="IBD_Modifica_Datos_OutputMessage">
    <wsdl:part name="parameters" element="tns:Modifica_DatosResponse" />
  </wsdl:message>
  <wsdl:message name="IBD_Elimina_Datos_InputMessage">
    <wsdl:part name="parameters" element="tns:Elimina_Datos" />
  </wsdl:message>
  <wsdl:message name="IBD_Elimina_Datos_OutputMessage">
    <wsdl:part name="parameters" element="tns:Elimina_DatosResponse" />
  </wsdl:message>
  <wsdl:portType name="IBD">
    <wsdl:operation name="ConectarBD">
      <wsdl:input wsaw:Action="http://tempuri.org/IBD/ConectarBD" message="tns:IBD_ConectarBD_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBD/ConectarBDResponse" message="tns:IBD_ConectarBD_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarDatos">
      <wsdl:input wsaw:Action="http://tempuri.org/IBD/ListarDatos" message="tns:IBD_ListarDatos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBD/ListarDatosResponse" message="tns:IBD_ListarDatos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FiltrarDatos">
      <wsdl:input wsaw:Action="http://tempuri.org/IBD/FiltrarDatos" message="tns:IBD_FiltrarDatos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBD/FiltrarDatosResponse" message="tns:IBD_FiltrarDatos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Inserta_DatosSinIdentity">
      <wsdl:input wsaw:Action="http://tempuri.org/IBD/Inserta_DatosSinIdentity" message="tns:IBD_Inserta_DatosSinIdentity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBD/Inserta_DatosSinIdentityResponse" message="tns:IBD_Inserta_DatosSinIdentity_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertaDatosConIdentity">
      <wsdl:input wsaw:Action="http://tempuri.org/IBD/InsertaDatosConIdentity" message="tns:IBD_InsertaDatosConIdentity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBD/InsertaDatosConIdentityResponse" message="tns:IBD_InsertaDatosConIdentity_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Modifica_Datos">
      <wsdl:input wsaw:Action="http://tempuri.org/IBD/Modifica_Datos" message="tns:IBD_Modifica_Datos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBD/Modifica_DatosResponse" message="tns:IBD_Modifica_Datos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Elimina_Datos">
      <wsdl:input wsaw:Action="http://tempuri.org/IBD/Elimina_Datos" message="tns:IBD_Elimina_Datos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBD/Elimina_DatosResponse" message="tns:IBD_Elimina_Datos_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IBD" type="tns:IBD">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConectarBD">
      <soap:operation soapAction="http://tempuri.org/IBD/ConectarBD" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarDatos">
      <soap:operation soapAction="http://tempuri.org/IBD/ListarDatos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FiltrarDatos">
      <soap:operation soapAction="http://tempuri.org/IBD/FiltrarDatos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Inserta_DatosSinIdentity">
      <soap:operation soapAction="http://tempuri.org/IBD/Inserta_DatosSinIdentity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertaDatosConIdentity">
      <soap:operation soapAction="http://tempuri.org/IBD/InsertaDatosConIdentity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Modifica_Datos">
      <soap:operation soapAction="http://tempuri.org/IBD/Modifica_Datos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Elimina_Datos">
      <soap:operation soapAction="http://tempuri.org/IBD/Elimina_Datos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BD">
    <wsdl:port name="BasicHttpBinding_IBD" binding="tns:BasicHttpBinding_IBD">
      <soap:address location="http://localhost:4050/BD.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>